# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env files
.env
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Caches
.vite/
.cache/
.eslintcache

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
